<template>
  <div class="flex flex-col justify-center items-center">
    <div class="mb-3 xl:w-96">
      <form>
        <select v-model="selectedMark" class="form-select appearance-none
      block
      text-xl
      w-full
      px-3
      mt-20
      py-1.5
      
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">

          <option v-for="model in user" :key="model.id">{{ model.title }}</option>

        </select>
      </form>

    </div>
    <div v-for="item in user" :key="item.id">
      <div class="flex flex-row ">
        <div @click="timeLineOne()" class="w-24 -ml-10 h-24  rounded-full bg-green-400">

        </div>
        <div @click="timeLineOne()" ref="active" class="w-24 ml-14 h-24  rounded-full bg-green-400">

        </div>
        <div @click="timeLineOne()" ref="active" class="w-24 ml-16 h-24  rounded-full bg-green-400">

        </div>
        <div @click="timeLineOne()" ref="active" class="w-24 ml-16 h-24  rounded-full bg-green-400">

        </div>
      </div>

      <ol class="border-l mt-4 md:border-l-0 md:border-t border-gray-300 md:flex md:justify-center md:gap-6">

        <li>

          <div class="flex md:block flex-start items-center pt-2 md:pt-0">

            <div @click="timeLineOne()" ref="active" class=" bg-green-400 w-2 h-2 rounded-full -ml-1 md:ml-0 mr-3 md:mr-0 md:-mt-1"></div>

          </div>
          <div class="mt-0.5 ml-4 md:ml-0 pb-5">
            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">{{ item.stages[3] }}</h4>

          </div>
        </li>
        <li>
          <div class="flex md:block flex-start items-center pt-2 md:pt-0">
            <div @click="timeLineOne()" ref="active" class="bg-green-400 w-2 h-2 rounded-full -ml-1 md:ml-0 mr-3 md:mr-0 md:-mt-1"></div>
          </div>
          <div class="mt-0.5 ml-4 md:ml-0 pb-5">
            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">{{ item.stages[2] }}</h4>
          </div>
        </li>
        <li>
          <div class="flex md:block flex-start items-center pt-2 md:pt-0">
            <div @click="timeLineOne()" ref="active"
              class="bg-green-400  w-2 h-2 rounded-full -ml-1 md:ml-0 mr-3 md:mr-0 md:-mt-1"></div>
          </div>
          <div class="mt-0.5 ml-4 md:ml-0 pb-5">
            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">{{ item.stages[1] }}</h4>
          </div>
        </li>
        <li>
          <div class="flex md:block flex-start items-center pt-2 md:pt-0">
            <div @click="timeLineOne()" ref="active"
              class=" w-2 bg-green-400 h-2 rounded-full -ml-1 md:ml-0 mr-3 md:mr-0 md:-mt-1"></div>
          </div>
          <div class="mt-0.5 ml-4 md:ml-0 pb-5">
            <h4 class="text-gray-800 font-semibold text-xl mb-1.5">{{ item.stages[0] }}</h4>
          </div>
        </li>
      </ol>
    </div>

  </div>
</template>

<script>


export default {
  name: 'IndexPage',
  data() {
    return {
      user: [],
      selectedMark:null
    }
  },
  computed: {
    timeLineOne(){
      if(this.user.stages[0]){
      this.user.active=  this.$refs.style.backgroundColor.green
      }
    }
  },
  async asyncData({ $axios }) {
    const user = await $axios.$get('http://ats.hire.camp/api/job/list')

    return { user }
  }


}
</script>
